.textarea {
  resize: none;

  width: 800px;
  height: 400px;
  padding: 20px;
  font-size: 23px;
  border-radius: 12px;
  background-color: rgba(34, 33, 33, 0.76);
  border: none;
  outline: none;
  color: white;
  transition: 0.2s;
}
.textarea:focus {
  border: 2px #77fd6f solid;
}
