.section {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  scroll-margin-top: 100px;
}
.form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 50px;
}

.form input {
  width: 600px;
  height: 50px;
  font-size: 23px;

  outline: none;
  border-radius: 12px;
  border: none;
  background-color: rgba(34, 33, 33, 0.76);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  color: white;
}

::placeholder {
  color: white;
}
